.Coalition{
    .chart-container{
        margin: 0 auto;
        position: relative;
        width: 100%;
        display: block;
    }
    .chart-box{
        display: flex;
            max-width: 1140px;
            justify-content: space-between;
            margin: 45px auto 0 auto;
            align-items: flex-end;
            flex-wrap: wrap;
    }
    .coalition-sec{
        padding:5em 0;
    }
}