.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  z-index: -1;
}
.weather-header {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.weather-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}
.weather-info {
  text-align: center;
}

.weather-info h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.weather-info p {
  font-size: 1.2em;
  margin-bottom: 5px;
}